{{-  $os := .chezmoi.os }}
{{- if eq .chezmoi.os "darwin" }}
{{-  $os = "macos" }}
{{- end }}

{{- $arch := .chezmoi.arch }}
{{- if eq $arch "amd64" }}
{{- $arch = "x64" }}
{{- end }}


".local/bin/mise":
  type: "file"
  url: https://github.com/jdx/mise/releases/download/v2025.8.21/mise-v2025.8.21-{{ $os }}-{{ $arch }}
  executable: true

