{{-  $os := .chezmoi.os }}
{{- if eq .chezmoi.os "darwin" }}
{{-  $os = "macos" }}
{{- end }}

{{- $arch := .chezmoi.arch }}
{{- if eq $arch "amd64" }}
{{- $arch = "x64" }}
{{- end }}


{{ if not lookPath "mise" }}
  ".local/bin/mise":
    type: "file"
    url: {{ gitHubLatestReleaseAssetURL "jdx/mise" (printf "mise-*-%s-%s" .chezmoi.os .chezmoi.arch) }}
    executable: true
{{ end }}
