{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

sourceDir: {{ .chezmoi.sourceDir | quote }}
encryption: "gpg"
verbose: true
#pager: bat

diff:
  command: mise -- delta
  args:
    - --features="side-by-side"
    - --line-numbers
    - --hunk-header-style=omit

git:
  autoPush: true
  autoCommit: true

gpg:
  recipient: "036EB1713F7165B1857AEAA7F830361B1E1D63B0"
  recipients:
    - "036EB1713F7165B1857AEAA7F830361B1E1D63B0"
  args:
    - "--no-throw-keyids" # force keyid into message

gopass:
  mode: builtin
#  comand: gopass -c

data:
  osid: {{ $osid | quote }}

env:
  MISE_VERBOSE: "1"
  MISE_CONFIG_DIR: "~/.local/etc/mise/"
  MISE_USE_VERSIONS_HOST: "0"
  MISE_AQUA_BAKED_REGISTRY: "false"
  GOPASS_CONFIG: "~/.local/etc/gopass/config.yaml"
  PASSWORD_STORE_DIR: "~/.local/share/gopass"
