# vim: set syntax=gitconfig:

[user]
  name = Peter Brunner
  email = peter@lugoues.net
  signingkey = ~/.local/share/git/keys/1p-github-sign-lugoues.pub

[commit]
  gpgsign = true

[gpg]
  format = ssh

[core]
  sshCommand="ssh -i ~/.local/share/git/keys/1p-github-auth-lugoues.pub -o IdentitiesOnly=yes"
