# vim: set syntax=gitconfig:

[user]
  name = Peter Brunner
  email = peter@psykhe.com
  signingkey = ~/.local/share/git/keys/1p-github-sign-psykhe.pub

[commit]
  gpgsign = true

[gpg]
  format = ssh


[core]
  sshCommand='ssh -i ~/.local/share/git/keys/1p-github-auth-psykhe.pub -o IdentitiesOnly=yes'
