# vim: set syntax=gitconfig:

[user]
  name = Peter Brunner
  email = peter@lghtr.co
  signingkey = ~/.local/etc/git/keys/1p-github-sign-lghtr.pub

[commit]
  gpgsign = true

[gpg]
  format = ssh


[core]
  sshCommand='ssh -i ~/.local/etc/git/keys/1p-bitbucket-auth-beaconpoint.pub -o IdentitiesOnly=yes'


